.noSelectDialogue{
    -fx-background-color: #252b6e;
}
.noSelectDialogue > *.button-bar > *.container{
    -fx-background-color: #252b6e;
}

.noSelectDialogue > *.button-bar > *.container > *.details-button {
    -fx-background-color: #e2e2e2;
    -fx-font-weight: bold;
    -fx-text-fill: #252b6e;
    -fx-font-size: 12px;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-border-color: #252b6e;
    -fx-border-width: 3px;
}
.noSelectDialogue > .label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #f0f0f0
}
.noSelectDialogue:header *.header-panel{
    -fx-background-color: #252b6e;
}
.noSelectDialogue:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #ffffff;
}