._nameDisplayed {
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #252b6e;
    -fx-font-family: "Arial Black";

    -fx-border-color: #252b6e;
    -fx-border-width: 3px;
}


._changeButton {
    -fx-background-color: #f0f0f0;
    -fx-font-weight: bold;
    -fx-text-fill: #252b6e;
    -fx-font-size: 50px;
    -fx-border-color: #252b6e;
    -fx-border-width: 3px;
}

._changeButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3b44cd 0%, #30389d 100%),
            #2c76af,
            #2c76af,
            radial-gradient(center 50% 50%, radius 100%, #37a3f1, #4954d8);
}

._changeButton:pressed {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3138aa 0%, #272e81 100%),
            #225c88,
            #266697,
            radial-gradient(center 50% 50%, radius 100%, #2671a8, #3a43ad);
}

._selectionButton {
    -fx-background-color: #f0f0f0;
    -fx-font-weight: bold;
    -fx-text-fill: #252b6e;
    -fx-font-size: 30px;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-border-color: #252b6e;
    -fx-border-width: 3px;
}
._selectionButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3b44cd 0%, #30389d 100%),
            #2c76af,
            #2c76af,
            radial-gradient(center 50% 50%, radius 100%, #37a3f1, #4954d8);
}

._selectionButton:pressed {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3138aa 0%, #272e81 100%),
            #225c88,
            #266697,
            radial-gradient(center 50% 50%, radius 100%, #2671a8, #3a43ad);
}

._background {
    -fx-background-color: #252b6e;
}

._dropdown {
    -fx-font-size: 30px;
    -fx-background-color: #f0f0f0;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-text-fill: #252b6e;
    -fx-border-color: #252b6e;
    -fx-border-width: 3px;
}

._dropdown:hover {
    -fx-background-color: #d5d5d5;
}

._dropdown .list-view {
    -fx-background-color: #f0f0f0;
}


._dropdown .list-cell {
    -fx-text-fill: #252b6e;
}

._dropdown .list-view .list-cell {
    -fx-text-fill: #252b6e;
    -fx-pref-height: 30px;
    -fx-font-size: 20px;
}
._dropdown .list-view .list-cell:hover {
    -fx-background-color: #608bd8;
}
._dropdown .list-view .list-cell:selected {
    -fx-background-color: #252b6e;
    -fx-text-fill: #f0f0f0;
}

._dropdown .arrow {
    -fx-background-color: #252b6e;
}

._audioButton {
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #252b6e;
    -fx-font-size: 20px;
    -fx-border-color: #252b6e;
    -fx-border-width: 3px;
}

._audioButton:hover {
    -fx-background-color: #acacac;
}

._audioButton:pressed {
    -fx-background-color: #7f7f7f;
}

._pane {
    -fx-background-color: #f0f0f0;
    -fx-opacity: 40%;
}

._title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-background-style: transparent;
    -fx-text-fill: #f0f0f0;
    -fx-font-family: "Century Gothic";
}
._slider {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

._slider .thumb {
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 3px;
    -fx-border-radius: 50%;
    -fx-background-color: #252b6e;
}

._slider .track {
    -fx-pref-height: 20px;
}

._confirmButton {
    -fx-background-color: #f0f0f0;
    -fx-font-weight: bold;
    -fx-text-fill: #252b6e;
    -fx-font-size: 10px;
    -fx-border-color: #252b6e;
    -fx-border-width: 3px;
}

._confirmButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3b44cd 0%, #30389d 100%),
            #2c76af,
            #2c76af,
            radial-gradient(center 50% 50%, radius 100%, #37a3f1, #4954d8);
}

._confirmButton:pressed {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3138aa 0%, #272e81 100%),
            #225c88,
            #266697,
            radial-gradient(center 50% 50%, radius 100%, #2671a8, #3a43ad);
}

._warningLabel {
    -fx-text-fill: #c51b16;
    -fx-font-size: 25px;
    -fx-font-weight: bold;

}

